@import url(http://fonts.googleapis.com/css?family=Montserrat);
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* styles from flat-ui-free2.0.0-fix.less files */
body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.header-post a{
  color:#2a7aaf;

}
a:hover {
  color: #c9c6c6;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 48px /* 64px */;
}
h2,
.h2 {
  font-size: 41px /* 52px */;
}
h3,
.h3 {
  font-size: 32px /* 40px */;
}
h4,
.h4 {
  color: #159970 ;
  font-size: 28px /* 29px */;
}
h5,
.h5 {
  font-size: 25px /* 28px */;
}
h6,
.h6 {
  font-size: 20px /* 24px */;
}
h7,
.h7 {
  font-size: 18px /* 24px */;
  font-style: italic;
  font-weight: 100;
  color:#242629;
  text-align: justify;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 16px;
  margin:10pt;
  line-height: 1.722169;
  /* 31px */

}

.iframe-fixedwidth {
  position: block;
  overflow: hidden;
  padding-top: 100px;
  width: 560px;
  height: 315px;
}

.responsive-iframe {
  position: relative;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  width: fit-content;
  height: auto;
  max-width: 300px ;
}

blockquote {
  font-size: 18px;
  font-weight: normal;
  margin-top:50px;
  padding-left: 5em;
  padding-right: 5em;
  text-align: center;
  font-style: italic;

}


.text-primary {
  color: #990000;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}

body {
  overflow-x: hidden;
  color: #525A5A;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
li {
  line-height: 20px;
}

/*test to remove
.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 22px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.btn.btn-large {
  font-size: 17px;
  padding: 12px 18px;
}
.btn > [class^="fui-"] {
  margin-left: 4px;
  margin-right: 4px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
.input-group-btn .btn {
  background: #bdc3c7;
  line-height: 9px 12px 10px;
  line-height: 22px;
  border: 0;
  margin: 0;
  color: #fff;
  margin-left: 0 !important;
  padding-left: 10px;
  padding-right: 12px;
}
.input-group-btn .btn:hover {
  background: #cacfd2;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}
label {
  line-height: 20px;
}
.carousel {
  line-height: 1;
}

*/


.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page-wrapper,
.header-antiflicker,
body > header .header-background {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
.nav-visible .page-wrapper,
.nav-visible .navbar.navbar-fixed-top,
.nav-visible .header-antiflicker,
.nav-visible body > header .header-background {
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -ms-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}
.no-csstransitions .page-wrapper,
.no-csstransitions .header-antiflicker {
  left: 0;
}
.no-csstransitions.nav-visible .page-wrapper,
.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.no-csstransitions.nav-visible .header-antiflicker {
  left: -230px !important;
  right: auto;
}
.carousel-indicators {
  width: 100%;
}
[class^="fui-"] {
  display: inline-block;
  vertical-align: middle;
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p {
  font-family: "Lato", sans-serif;
  color: #050814;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}

/*test to remove
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}

*/

a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

@media screen and (max-width: 767px)
{.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
}
}

.table-bordered {
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table {
    width: 100%;
    table-layout: fixed;
}

.table thead {
    display: table-header-group;
    background: #990000;
}

thead {
    vertical-align: middle;
    border-color: inherit;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}


.table th, .table th a {
    color: #666;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
}
.table th {
    color: white!important;
    font-weight: bold!important;
    height: inherit!important;
}

.table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}


@media (max-width: 767px)
.table-hover td {
    width: 100%!important;
}

@media screen and (max-width: 767px)
{.table-responsive>.table-bordered {
    border: 0;
}
}
@media screen and (max-width: 767px)
{.table-responsive>.table {
    margin-bottom: 0;
}
}

@media screen and (max-width: 767px)
{.table-responsive>.table-bordered>tbody>tr>td:last-child, .table-responsive>.table-bordered>tbody>tr>th:last-child, .table-responsive>.table-bordered>tfoot>tr>td:last-child, .table-responsive>.table-bordered>tfoot>tr>th:last-child, .table-responsive>.table-bordered>thead>tr>td:last-child, .table-responsive>.table-bordered>thead>tr>th:last-child {
    border-right: 0;
}
}
@media (max-width: 767px)
{.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
    white-space: normal!important;
}
}

.navbar {
  left: 0;
  right: 0;
}
.navbar .brand {
  padding: 23px 28px 24px 0;
  float: left;
}
.navbar .subnav {
  display: none;
}
.navbar a {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.navbar .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.navbar .nav > li {
  float: left;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background: none;
}
.navbar-toggle button {
  position:relative;
  float:top;
}


.navbar .navbar-form .btn {
  height: auto;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .nav > li > a > [class*="fui-"] {
  font-size: 24px;
  margin: -10px 0 0;
  position: relative;
  top: 4px;
}
.navbar.navbar-fixed-top {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  max-width: 1170px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-header {
    float: none;
  }
}

.header-19 .navbar-collapse.collapse,
.header-16 .navbar-collapse.collapse {
  display: none !important;
}
@media (max-width: 991px) {
  body .navbar-collapse {
    width: 230px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100% !important;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  body > .collapse.navbar-collapse {
    display: none !important;
  }
}
body .navbar-collapse#header-19,
body .navbar-collapse#header-16 {
  width: 230px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
  z-index: 1;
}
body > .navbar-collapse {
  padding: 25px 0;
  overflow: auto;
  background: #222527;
  min-height: 100%;
}
body > .navbar-collapse::-webkit-scrollbar {
  display: none;
}
body > .navbar-collapse .pull-right,
body > .navbar-collapse .pull-left {
  float: none !important;
}
body > .navbar-collapse .nav {
  margin: 0 0 10px;
}
body > .navbar-collapse .nav > li {
  margin: 0;
}
body > .navbar-collapse .nav > li > a {
  display: block;
  padding: 12px 35px;
  border-bottom: 2px solid #24292d;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #5b5e61;
  text-transform: uppercase;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus,
body > .navbar-collapse .nav > li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus {
  background: none;
}
body > .navbar-collapse .nav > li.active > a {
  color: #ffffff;
}
body > .navbar-collapse .nav > li.active > a:hover,
body > .navbar-collapse .nav > li.active > a:focus,
body > .navbar-collapse .nav > li.active > a.active {
  color: #ffffff;
}
body > .navbar-collapse .subnav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
body > .navbar-collapse .subnav li > a {
  display: block;
  margin: 0;
  padding: 7px 35px;
  font-size: 13px;
  font-weight: normal;
  color: #5b5e61;
  text-transform: capitalize;
}
body > .navbar-collapse .subnav li > a:hover,
body > .navbar-collapse .subnav li > a:focus,
body > .navbar-collapse .subnav li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .navbar-form,
body > .navbar-collapse .navbar-search {
  padding: 10px 35px;
  margin: 0;
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
}
body > .navbar-collapse .navbar-form:focus,
body > .navbar-collapse .navbar-search:focus {
  outline: 0 none;
}
body > .navbar-collapse .navbar-form .btn,
body > .navbar-collapse .navbar-search .btn,
body > .navbar-collapse .navbar-form .btn-primary,
body > .navbar-collapse .navbar-search .btn-primary {
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  color: #5b5e61;
  background: none;
  padding: 0;
}
body > .navbar-collapse .navbar-form .btn:hover,
body > .navbar-collapse .navbar-search .btn:hover,
body > .navbar-collapse .navbar-form .btn-primary:hover,
body > .navbar-collapse .navbar-search .btn-primary:hover {
  color: #fff;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
  font-size: 14pt;
  padding: 10px 0;
  color: #001a5f;
}
.background {
  position: absolute;
  left: 0;
  top: 11%;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
}
@media (max-width: 768px) {
  .background {
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
}
.container { /*use for card as well*/ 
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 20px 0 80px;
}
@media (max-width: 767px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.nav-visible .navbar .nav-collapse .nav > li > a:hover,
.nav-visible .navbar .nav-collapse .nav > li > li a:focus {
  background-color: transparent;
}
.nav-visible .nav-collapse .navbar-form,
.nav-visible .nav-collapse .navbar-search {
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
  margin: 10px 0;
  padding: 10px 15px;
}
.nav-visible .nav-collapse .navbar-form a.btn,
.nav-visible .nav-collapse .navbar-search a.btn {
  border-color: white;
  color: white;
}
.nav-visible .nav-collapse .navbar-form a.btn:hover,
.nav-visible .nav-collapse .navbar-search a.btn:hover,
.nav-visible .nav-collapse .navbar-form a.btn:focus,
.nav-visible .nav-collapse .navbar-search a.btn:focus {
  color: #7f8c8d;
  background-color: white;
}
/* header */
/**
 * Header 10 stylesheet  
 * */
.header-10 {
  position: fixed;
  top:0;
  z-index: 100;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  height: 80px;
  background: #233240;
  color: white;
}
.header-10 .navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  margin: 7px;
}
.header-10 .navbar .brand {
  padding-top: 25px;
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
.header-10 .navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.header-10 .navbar .nav > li {
  margin-left: 30px;
}
.header-10 .navbar .nav > li:first-child {
  margin-left: 0;
}
.header-10 .navbar .nav > li > a {
  padding: 29px 0 27px;
  font-size: 17px;
  font-weight: normal;
  color: #7f8c8d;
  font-weight: 600;
  color: #ffffff;
}
.header-10 .navbar .nav > li > a:hover,
.header-10 .navbar .nav > li > a:focus,
.header-10 .navbar .nav > li > a.active {
  color: #bdc3c7;
}
.header-10 .navbar .nav > li.active > a {
  color: #bdc3c7;
}
.header-10 .navbar .nav > li.active > a:hover,
.header-10 .navbar .nav > li.active > a:focus,
.header-10 .navbar .nav > li.active > a.active {
  color: #bdc3c7;
}
.header-10 .navbar .navbar-form {
  padding: 1.9em 1.1em 6.1em 2.1em;
}
.header-10 .navbar .btn {
  padding-left: 26px;
  padding-right: 26px;
}
.header-10 .navbar .btn.btn-info {
  font-size: 15px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
}
.header-10 .navbar .navbar-toggle {
  padding: 1em 0em 0em 39%;
}


.header-10.navbar-toggle {
	min-width: 40px;
	height: 20px;
	position: relative;
	overflow: hidden;
}
.header-10.navbar-toggle.checkbox label .toggle,
.header-10.navbar-toggle.checkbox-inline .toggle {
	margin-left: -20px;
	margin-right: 5px;
}

.header-10.navbar-toggle input[type="checkbox"] {
	display: none;
}
.header-10.navbar-toggle-group {
	position: absolute;
	width: 200%;
	top: 0;
	bottom: 0;
	left: 0;
	transition: left 0.35s;
	-webkit-transition: left 0.35s;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.header-10.navbar-toggle.off .header-10.toggle-group {
	left: -100%;
}
.header-10.navbar-toggle.on {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	margin: 0;
	border: 0;
	border-radius: 0;
}
.header-10.navbar-toggle.off {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
}
.header-10.navbar-toggle-handle {
	position: relative;
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 100%;
	width: 0px;
	border-width: 0 1px;
}
.header-10-sub {
  position: relative;
  z-index: 50;
  height: 800px;
  color: white;
  text-align: center;
}
.header-10-sub.v-center,
.header-10-sub .v-center {
  display: table;
  width: 100%;
}
.header-10-sub.v-center > div,
.header-10-sub .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .header-10-sub.v-center.row:before,
  .header-10-sub .v-center.row:before,
  .header-10-sub.v-center.row:after,
  .header-10-sub .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .header-10-sub.v-center,
  .header-10-sub .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-10-sub.v-center.row,
  .header-10-sub .v-center.row {
    display: block;
    width: auto;
  }
  .header-10-sub.v-center.row:before,
  .header-10-sub .v-center.row:before,
  .header-10-sub.v-center.row:after,
  .header-10-sub .v-center.row:after {
    display: none;
  }
  .header-10-sub.v-center.row > *,
  .header-10-sub .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.header-10-sub .hero-unit {
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.header-10-sub .hero-unit h1 {
  margin: 0 0 30px;
  font-size: 45px;
  font-weight: bold;
  color: #474D45;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.header-10-sub .hero-unit p {
  font-size: 25px;
  font-weight: normal;
  color: #8B9687;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 37.5px;
}
@media (max-width: 480px) {
  .header-10-sub .hero-unit h1 {
    font-size: 36px;
    font-weight: normal;
    color: #353535;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
  }
  .header-10-sub .hero-unit p {
    font-size: 22px;
    font-weight: normal;
    color: #5D5D5D;
    line-height: 35px;
    font-weight: 300;
  }
}
.header-10-sub .hero-unit.hero-unit-bordered h1 {
  font-size: 46px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 8px solid white;
  display: inline-block;
  margin: 0;
  padding: 30px 40px;
}
@media (max-width: 480px) {
  .header-10-sub .hero-unit.hero-unit-bordered h1 {
    font-size: 22px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 500;
  }
}
@media (max-width: 480px) {
  .header-10-sub.v-center > div {
    padding-top: 35px;
  }
}
.header-10-sub .control-btn {
  width: 53px;
  height: 53px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 19px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  background: #121518;
  opacity: 80;
  filter: alpha(opacity=8000);
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: absolute;
  left: 50%;
  bottom: 90px;
  margin-left: -26.5px;
}
.header-10-sub .control-btn:hover,
.header-10-sub .control-btn:focus,
.header-10-sub .control-btn.active {
  color: #ffffff;
}
.header-10-sub .control-btn:hover,
.header-10-sub .control-btn:focus,
.header-10-sub .control-btn:active,
.header-10-sub .control-btn.active {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .header-10-sub .control-btn {
    bottom: 30px;
  }
}



.content-7 {
  padding-top: 125px;
  padding-bottom: 130px;
  position: relative;
  text-align: center;
}
.content-7 h3 {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 80px;
  line-height: 42px;
  font-weight: 800;
  letter-spacing: -1px;
}
@media (max-width: 767px) {
  .content-7 h3 {
    margin-bottom: 20px;
    line-height: 36px;
  }
}

.content-7.v-center,
.content-7 .v-center {
  display: table;
  width: 100%;
}
.content-7.v-center > div,
.content-7 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-7.v-center.row:before,
  .content-7 .v-center.row:before,
  .content-7.v-center.row:after,
  .content-7 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-7.v-center,
  .content-7 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content-7.v-center.row,
  .content-7 .v-center.row {
    display: block;
    width: auto;
  }
  .content-7.v-center.row:before,
  .content-7 .v-center.row:before,
  .content-7.v-center.row:after,
  .content-7 .v-center.row:after {
    display: none;
  }
  .content-7.v-center.row > *,
  .content-7 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.content-7 .row {
  text-align: left;
}
.content-7 h6 {
  font-size: 18px;
  font-weight: normal;
  color: #e74c3c;
  font-weight: 500;
  margin-top: 60px;
  text-transform: none;
}
.content-7 h6:first-child {
  margin-top: auto;
}
@media (max-width: 767px) {
  .content-7 h6 {
    margin-top: 20px;
  }
}
.content-7 .row > .col-sm-3:first-child {
  font-size: 22px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 32px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .content-7 .v-center {
    padding-left: 0;
    padding-right: 0;
  }
  .content-7 .row > [class*="col-sm-"] {
    margin-top: 45px;
  }
  .content-7 .row > [class*="col-sm-"]:first-child {
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  .content-7 h3 {
    text-align: left;
  }
}
.content-7 .screen-wrapper {
  position: relative;
  height: 437px;
}
.content-7 .screen-wrapper .screen {
  position: absolute;
  left: 50%;
  margin-left: -151px;
  overflow: hidden;
}
.content-7 .screen-wrapper .screen img {
  position: relative;
  max-width: none;
}
.content-7 .screen-wrapper .screen img:first-child {
  position: absolute;
  left: 0;
  top: 0;
  max-height: 100%;
}

 /* Content 8 stylesheet  
 
.content-8 {
  padding-top: 130px;
  padding-bottom: 130px;
  position: relative;
  text-align: center;
}
.content-8 h3 {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 20px 0 20px;
}

.content-8 p {
  font-size: 18px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 45px;
}


.content-8 h3-f {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 30px 20 30px;
}
.content-8 p-f {
  font-size: 18px;
  font-weight: normal;
  color: #7f8c8d;
  margin-bottom: 0px;
}

.content-8 .btn.btn-clear {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  border: 2px solid #e74c3c;
  font-size: 14px;
  font-weight: normal;
  color: #7f8c8d;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 12px 28px 12px;
  color: #e74c3c;
}
.content-8 .btn.btn-clear:hover,
.content-8 .btn.btn-clear:focus {
  background: #e74c3c;
  color: #fff;
}
.content-8 .btn.btn-clear:active,
.content-8 .btn.btn-clear.active {
  border-color: #c44133;
  background: #c44133;
  color: rgba(255, 255, 255, 0.75);
}
.content-8.v-center,
.content-8 .v-center {
  display: table;
  width: 100%;
}

* */

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 20px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Set a style for all buttons */
button {
    background-color: #454645;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    text-align: center;
}

button:hover {
    opacity:1;
}

.openbtn{
  margin-bottom: 1px;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

.content-8.v-center > div,
.content-8 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-8.v-center.row:before,
  .content-8 .v-center.row:before,
  .content-8.v-center.row:after,
  .content-8 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-8.v-center,
  .content-8 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content-8.v-center.row,
  .content-8 .v-center.row {
    display: block;
    width: auto;
  }
  .content-8.v-center.row:before,
  .content-8 .v-center.row:before,
  .content-8.v-center.row:after,
  .content-8 .v-center.row:after {
    display: none;
  }
  .content-8.v-center.row > *,
  .content-8 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}

/**
 * Content 11 stylesheet  
 * */
.content-11 {
  position: relative;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  background: rgba(241, 196, 15, 0.1);
  font-size: 24px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.content-11 > .container {
  position: relative;
}
.content-11 .btn {
  margin-left: 33px;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 480px) {
  .content-11 > .container > span {
    display: block;
  }
  .content-11 .btn {
    margin: 30px 0 0;
  }
}
@media (max-width: 614px) {
  .content-11 > .container > span {
    display: block;
  }
  .content-11 .btn {
    margin: 30px 0 0;
  }
}
.content-23 {
  position: relative;
  height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.content-23.v-center,
.content-23 .v-center {
  display: table;
  width: 100%;
}
.content-23.v-center > div,
.content-23 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-23.v-center.row:before,
  .content-23 .v-center.row:before,
  .content-23.v-center.row:after,
  .content-23 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-23.v-center,
  .content-23 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content-23.v-center.row,
  .content-23 .v-center.row {
    display: block;
    width: auto;
  }
  .content-23.v-center.row:before,
  .content-23 .v-center.row:before,
  .content-23.v-center.row:after,
  .content-23 .v-center.row:after {
    display: none;
  }
  .content-23.v-center.row > *,
  .content-23 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.content-23 .control-btn {
  width: 53px;
  height: 53px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 19px;
  font-weight: normal;
  color: #7f8c8d;
  background: #121518;
  color: #ffffff;
  opacity: 30;
  filter: alpha(opacity=3000);
  opacity: 0.3;
  filter: alpha(opacity=30);
  position: absolute;
  left: 50%;
  bottom: 90px;
  margin-left: -26.5px;
}
.content-23 .control-btn:hover,
.content-23 .control-btn:focus,
.content-23 .control-btn.active {
  color: #ffffff;
}
.content-23 .control-btn:hover,
.content-23 .control-btn:focus,
.content-23 .control-btn:active,
.content-23 .control-btn.active {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .content-23 .control-btn {
    bottom: 30px;
  }
}
.content-23 .hero-unit {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.content-23 .hero-unit h1 {
  margin: 0 0 30px;
  font-size: 48px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 600;
  line-height: 56px;
}
@media (max-width: 480px) {
  .content-23 .hero-unit h1 {
    font-size: 36px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 600;
    line-height: 33px;
  }
}
.content-23 .hero-unit.hero-unit-bordered h1 {
  font-size: 46px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  border: 8px solid white;
  display: inline-block;
  margin: 0;
  padding: 30px 40px;
}
@media (max-width: 767px) {
  .content-23 .hero-unit.hero-unit-bordered h1 {
    font-size: 28px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 600;
  }
}
/* footer */
/**
 * Footer 3 stylesheet  
 * */
.footer-3 {
  font-size: 14px;
  padding-top:10px;
  padding-bottom:10px;
  background: #324355;
  color: #bdc3c7;
}

.container.footer-3{
    display: -webkit-flex;
    display: flex;
    padding-left:calc(100%/3);
    padding-right:calc(100%/3);
}

img .footer-3{
  display: inline;
}

@media (max-width: 500px) {
  .container.footer-3 {
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    flex:100%;
  }
  
}



 /*header style*/ 
.header-10-sub .background {
    opacity: 4;
 
}

.header-10 {
  background-color: #1b1f23;
}
.header-10 .btn:hover,
.header-10 .btn.active,
.header-10 .btn:focus {
  background-color: #2ecc71;
}
.content-7,
.content-8 {
  padding-top: 200px;
  padding-bottom: 200px;
}
@media (max-width: 767px) {
  .content-7,
  .content-8 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.content-23 {
  overflow: hidden;
  background-color: #1B1F23;
}
.content-23 #bgVideo {
  overflow: hidden;
}
.content-23 #bgVideo > video {
  position: absolute !important;
  top: 0 !important;
}
.content-23 .control-btn {
  opacity: 10;
  filter: alpha(opacity=1000);
  opacity: 0.1;
  filter: alpha(opacity=10);
}

.content-23.custom-bg {
  background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLUgUAmL2ZF2C7lzGwLLrCK7UhjR9JVmDeN2sAWtJOcVC0-GKLpXJQ_VlQSa-4I86_ywaonO2jvHSr-Eg0vdnAs5f5jCWLKqYMebbpcj3-CBe5u-un3Tjf0SnTHJqajloak4uQZ0ZJvxtoBx2AKzwXhH=w1317-h879-no?authuser=0");
  background-size:     cover;
  height: 120vh;
  opacity: 10;
  filter: alpha(opacity=1000);
}

.content-23.custom-bg-2 {
  background-image: url("https://lh3.googleusercontent.com/4Rurmh-0L2JjU41ZEDqVgXfQuz55lJEBPX71I_jLGp4X1dc2N-qgpvCdbo8wRSNZ2wekpV9w4gEo3XU3eCnvgW-K5HiBFFet9YCWLrmM1DvvtbcjZI-uS12b8pI0aXtfohk3dNFFTXxTNUvFEUGkXAk9eyaw48UWBirtU5PqtBunEptq98wEt512DizzzVOmiRFS1zknmYJoIHgKq7nwNRhzK-YVFNmqMTrm30YLzMrwq197iVqOSkRkuR2kscDhnf8R380y8l3FD6x9kd13Bp_jGtHPlzchuYFJXKjiE-UrpKiNYbtMwtNIh12CBq8s3MfzTDCSF_R8bNWxanVaybQfqp4ragVeM2ZZTbYwNmT96xNtETvKqiaeIZEvbHKeXZMAFpD9kz6DlnNrwg6KfyA05e7oLcruV-IuuxwDy277j35EYeU6O3FgnPvG5GBQl582dvfeAIa3SUohYnL9XoQZsQMgzNelMk-JfdzgHKlgFjA4BGhgG-z8xpwqygXSECpWLO5qzUx2hlguaPJUBdiPL8TZAvTxB_3puCh1JoPmLsVV7MxhUt6G-mqLwpya8QYVE1WzCnpKtV1zxySi5kDGfLrWYdz-Nuvzzku7Z496TVlMkoDUt38Lv_rtGQe6PhYUbfAF1tpvGENN--4IAjJ87HHM-M7eJV8WbNfPcrtoiAYgWR2ff0VgyAR7rQuLj0gti36b6zDatOdsgJxusneZ=w1317-h879-no?authuser=1");
  background-size:     cover;
  height: 120vh;
  opacity: 10;
  filter: alpha(opacity=1000);
}

.footer-3 {
  background-color: #1B1F23;
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary
{display:block}

.posts
{background-color:#242629}

.posts .hentry
{background:#fff;
float:left;
overflow:hidden;
position:relative;
width:33.3333%}


.posts .edit-link
{position:absolute;
text-align:center;
top:5%;
left:5%;
bottom:0;
right:5%;
width:80%;
z-index:5}

.posts .has-post-thumbnail .edit-link
{right:0;
width:50%}

.posts .edit-link a
{color:#193958;
display:inline-block;
font-size:75%;
letter-spacing:.1em;
overflow:hidden;
padding:2px 5px;
text-transform:uppercase;
-webkit-transition:color .2s;
-moz-transition:color .2s;
transition:color .2s}

.posts .edit-link a:hover
{color:#9ba7b5;
text-decoration:none}

.posts .cover-link
{border:1px solid transparent;
bottom:0;
left:0;
position:absolute;
right:0;
top:0;
-webkit-transition:border-color .3s,border-width .3s;
transition:border-color .3s,border-width .3s;
z-index:4}

.posts .cover-link:hover,.posts .cover-link:focus
{border-color:rgba(0,0,0,.2);
border-width:15px}

.posts .entry-media
{background-color:#242629;
background-position:center center;
background-size:cover;
padding-bottom:66.666%;
position:relative;
width:50%
}

.posts .entry-media.ridge 
{border-style: ridge;}


.posts .entry-inner
{background:#fff;
bottom:0;
position:absolute;
top:0;
vertical-align:middle;
width:50%}

.posts .entry-inner:before
{color:#abb7c3;
content:"\f100";
display:block;
font-size:3.5rem;
height:50px;
left:0;
line-height:50px;
margin-left:-25px;
margin-top:-25px;
position:absolute;
text-align:center;
top:50%;
width:50px;
z-index:5}

.posts .format-image .entry-inner:before
{content:"\f102";
font-size:2.5rem}

.posts .sticky .entry-inner:before
{content:"\f408";
font-size:2.5rem}

.posts .entry-inner:after
{background-color:#fff;
border-radius:50px;
content:"";
display:block;
height:50px;
left:0;
margin-left:-25px;
margin-top:-25px;
position:absolute;
top:50%;
width:50px}

.posts .entry-inner-content
{border-bottom:3px solid #fff;
bottom:50%;
max-height:80%;
overflow:hidden;
padding:0 14%;
position:absolute;
right:0;
text-align:left;
-ms-transform:translateY(50%);
-webkit-transform:translateY(50%);
transform:translateY(50%);
width:100%}

.posts .entry-header
{margin-bottom:0;
padding:0}

.posts .entry-title
{font-size:3rem;
font-weight:700;
text-align:center}

.posts .entry-title h2
{text-transform:none}

.posts .entry-title a
{color:#1a1c1e}

.posts .entry-content
{padding-top:2rem}

/*Card Setup*/
.at-layout-vertical {
  display: flex;
  flex-direction: column;
}
.at-layout-container {
  flex: auto;
}

.at-table-fix {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.at-table-fix.awesome-card{
  font-size: 10pt; 
}

.awesome-card.container {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.awesome-card.paper-card {
  display: flex;
  flex: 1 0 auto;
  min-width: 230px;
  max-width: 100%;
  width: calc(100%/3);
}

.card-content {
  padding-top: 80px;
  color: #cecece;
  border: 1px #cecece;
  margin: 25px;
}

.title {
  padding: 10px 10px 0 10px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: black;
}

.card-content:hover{
  box-shadow:rgb(0 0 0/40%) 0 8px 16px 0;
  z-index: 10;
}

.paper-container{
  width: 100%;
  font-family: 'Lato', san-serif;
  position: relative;
}

.paper-card{
  min-width: 100%
  width: 100%
}

.layer1 {
  color:white;
  text-decoration:none;
}

a:-webkit-any-link {
  color: whitesmoke ;
  cursor: pointer;
  text-decoration: underline;
}

p:-webkit-any-link {
  color: whitesmoke ;
  cursor: pointer;
  text-decoration: underline;
}

.description {
  color: whitesmoke;
  font-size: 16px;
  font-weight: 300;
}

.layer1 img {
  width: 100%;
  display: block;
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.paper-card:hover .layer1{
  opacity:0.7;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

 .layer2 {
  background-color:rgba(0,0,0,0.3);
  position:absolute;
  bottom:0;
  overflow:hidden;
  max-height: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.layer2-onload {
  max-height: 300px;
  min-height: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.layer2 div h6 a p {
  min-width: 100%;
  text-align: center;
  opacity:0.8;
  color:whitesmoke;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}



.layer2 a:hover {
  opacity:1;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.paper-card:hover .layer2 {
  max-height: 200px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/*
.fb-comments.fb_iframe_widget.fb_iframe_widget_fluid_desktop {
  width: 1100px;
  min-width: 220px;
}

.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
  /* width: 1100px; */
  /* min-width: 220px; */
}
/*
.fb_iframe_widget {
  display: inline-block;
  position: relative;
  margin: 0px;
  padding: 40px;
}

:host {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background-color: var(--paper-card-background-color,var(--primary-background-color));
  border-radius: 2px;
  font-family: var(--paper-font-common-base_-_font-family);
  -webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
}

:host, html {
  --paper-material_-_display: block;
  --paper-material_-_position: relative;
  --paper-material-elevation-1_-_box-shadow: var(--shadow-elevation-2dp_-_box-shadow);
  --paper-material-elevation-2_-_box-shadow: var(--shadow-elevation-4dp_-_box-shadow);
  --paper-material-elevation-3_-_box-shadow: var(--shadow-elevation-6dp_-_box-shadow);
  --paper-material-elevation-4_-_box-shadow: var(--shadow-elevation-8dp_-_box-shadow);
  --paper-material-elevation-5_-_box-shadow: var(--shadow-elevation-16dp_-_box-shadow);
}

:host([elevation="2"]) {
  box-shadow: var(--paper-material-elevation-2_-_box-shadow);
}

:host ::slotted(.card-content) {
  padding: 16px;
  position: relative;
}



/*  COLUMN SETUP  */

/** Column setup for main sites**/
.column {
  margin-left: 2px;
  margin-right: 2px;
}

.column-equal {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 5px;
}

/* Left and right column */
.column.side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

/* Middle column */
.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.row {
  display: -webkit-flex;
  display: flex;
  margin:100px 50px 50px 50px;
}


.row-style2 {
  display: -webkit-flex;
  display: flex;
  margin:100px 20% 50px;
}

.row-sub {
  display: -webkit-flex;
  display: flex;
  padding: 0px 20% 50px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 500px) {
  .row, .row-sub,.row-style2 {
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    flex:100%;
    font-size:50%;
  }
  .column-side-style2,.column-main-style2{
    text-align: center;
  }
  
}

/** Column setup for Blog sites**/
.column-side-style2 {
  float: left;
  width: 50%;
  text-align: center;
}

img.post-content{
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}

.column-main-style2 {
  float: right;
  width: 90%;
}

.tags-links
{font-size:90%;
margin:5rem 0 0;
text-align:center}

.tags-links a
{background-color:#efefef;
color:#949494;
display:inline-block;
margin:0 .5em .5em 0;
padding:.25em .75em;
-webkit-transition:background-color .4s,color .4s;
transition:background-color .4s,color .4s}

.tags-links a:hover,.tags-links a:focus
{background-color:#e0e0e0;
color:#777;
text-decoration:none}

.tags-links a:last-of-type
{margin-right:0}

.is-singular .post-navigation .nav-links
{margin:2em auto 0;
max-width:72%;
padding:3em 0;
position:relative;
text-align:center}

.is-singular .post-navigation .nav-links:after,.is-singular .post-navigation .nav-links:before
{content:"";
left:50%;
position:absolute;
top:0}

.is-singular .post-navigation .nav-links:after
{background-color:#e7ae01;
border-radius:12px;
height:12px;
margin:-6px 0 0 -6px;
width:12px}

.is-singular:not(.page-template-eventbrite-index) .post-navigation .nav-links:before
{border-top:1px solid #e0e0e0;
left:37.5%;
right:37.5%}

.is-singular .post-navigation .nav-links span.nav-subtitle
{color:#9da5ad;
display:block;
font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:1.3rem;
letter-spacing:.1em;
text-transform:uppercase}

.is-singular .post-navigation .nav-links span.nav-title
{font-family:"Noto Serif",Georgia,serif}

.is-singular .post-navigation .nav-links a:hover
{text-decoration:none}

.is-singular .post-navigation .nav-links a:hover span.nav-title
{text-decoration:underline}

.is-singular .nav-previous,.is-singular .nav-next
{padding-bottom:2em}

.is-singular .entry-media
{background-color:#242629;
background-position:50% 50%;
background-size:cover;
height:100%;
left:0;
overflow:hidden;
position:fixed;
top:0;
width:50%}

.is-singular .entry-media-thumb
{background-color:#292c2f;
background-position:50% 50%;
background-size:cover;
overflow:hidden;
padding-bottom:66%}

.admin-bar.is-singular .entry-media
{top:32px}

.home.is-singular .entry-media
{display:none}

.is-singular .entry-media img
{visibility:hidden}

.page-template-eventbrite-index .page-title
{padding:0}

.page-template-eventbrite-index .page-header,.single-event .entry-header
{background:0 0;
border-bottom:0;
margin-bottom:1em;
position:relative;
z-index:1}

.is-singular.archive-eventbrite .entry-header
{padding-top:0}

.is-singular.archive-eventbrite .entry-header h1
{font-size:4rem}

.single-format-image:not(.has-post-thumbnail) .site-banner-media,.is-singular:not(.home).page-template-eventbrite-index .site-banner-media
{display:none}

.single-format-image.has-post-thumbnail .entry-meta .cat-links
{background-color:transparent;
color:#6a6c6e;
padding:0}



@media only screen and (max-width:1600px){
.site-banner-header
{left:15%;
right:15%}
}


.posts
{background:#fff}

.posts .hentry
{float:none;
width:100%}


.posts .hentry:nth-child(odd) .entry-media
{float:left}

.posts .hentry:nth-child(even) .entry-media
{float:right}

.posts .hentry:nth-child(odd) .entry-inner,.posts .hentry:nth-child(odd) .edit-link,.posts .hentry:nth-child(even).has-post-thumbnail .entry-inner:after,.posts .hentry:nth-child(even).has-post-thumbnail .entry-inner:before
{left:auto;
right:0}

.posts .hentry:nth-child(even).has-post-thumbnail .entry-inner:after,.posts .hentry:nth-child(even).has-post-thumbnail .entry-inner:before
{margin-left:0;
margin-right:-25px}

.posts .hentry:nth-child(even) .entry-inner,.posts .hentry:nth-child(even) .edit-link,.posts .hentry:nth-child(odd).has-post-thumbnail .entry-inner:after,.posts .hentry:nth-child(odd).has-post-thumbnail .entry-inner:before
{left:0;
right:auto}

.posts .hentry:nth-child(odd).has-post-thumbnail .entry-inner:after,.posts .hentry:nth-child(odd).has-post-thumbnail .entry-inner:before
{margin-left:-25px;
margin-right:0}

.posts .hentry:not(.has-post-thumbnail) .entry-inner
{position:relative}

.posts .hentry:not(.has-post-thumbnail) .entry-media
{display:none}

.posts .hentry:not(.has-post-thumbnail) .entry-inner-content
{height:auto;
padding-bottom:4rem;
padding-top:12rem}

.posts .hentry:not(.has-post-thumbnail):before
{top:4rem}

.posts .hentry:not(.has-post-thumbnail) .entry-inner:after,.posts .hentry:not(.has-post-thumbnail) .entry-inner:before
{top:4rem}

/*
.is-singular.has-post-thumbnail:not(.home):not(.single-format-image):not(.page-template-eventbrite-index) .site-inner
{width:65%}

.is-singular:not(.has-post-thumbnail) .site-content,.is-singular.single-format-image .site-content,.is-singular:not(.home).page-template-eventbrite-index .site-content
{margin-left:auto;
margin-right:auto}

.is-singular .entry-header,.has-post-thumbnail.is-singular:not(.home):not(.single-format-image):not(.page-template-eventbrite-index) .entry-header,.page-template-eventbrite-index .page-header,.single-event .entry-header
{padding:3em 0 0;
text-align:center}

.has-post-thumbnail.is-singular:not(.home):not(.single-format-image):not(.page-template-eventbrite-index) .entry-header
{background:0 0;
color:#6a6c6e;
position:relative;
width:auto}

.is-singular:not(.eventbrite-archive) .entry-header h1,.error404 .entry-header h1,.page-header h1
{font-size:4rem}

.is-singular.archive-eventbrite .entry-header h1
{font-size:3rem}

.has-post-thumbnail.is-singular:not(.home):not(.single-format-image):not(.page-template-eventbrite-index) .entry-header h1
{color:#1a1c1e}

.has-post-thumbnail.is-singular:not(.home):not(.single-format-image):not(.page-template-eventbrite-index) .entry-header a,.has-post-thumbnail.is-singular:not(.home):not(.single-format-image):not(.page-template-eventbrite-index) .entry-header .cat-links
{color:#6a6c6e}

*/
.entry-posted{
  border-top:0;
  font-size:1.5rem;
  margin-top:0;
  text-align:center}

.posted-info.edit-link
{font-size:1.5rem;
color: salmon;
font-family: Lato sans-serif;}


.posted-on{
  padding:1px;
  color: black;
}

.posted-on.post-time{
  font-size:1.5rem;
  color: blue;
  font-family: Lato sans-serif;}


/*
.is-singular.has-post-thumbnail:not(.single-format-image):not(.page-template-eventbrite-index) .entry-posted .posted-info,.is-singular.has-post-thumbnail:not(.single-format-image):not(.page-template-eventbrite-index) .entry-posted .edit-link
{float:none}

.is-singular:not(.home):not(.single-format-image):not(.page-template-eventbrite-index) .entry-meta
{top:auto}


.is-singular .entry-content,.is-singular:not(.home):not(.single-format-image):not(.page-template-eventbrite-index) .entry-content
{padding-top:3rem}

.is-singular:not(.home):not(.single-format-image):not(.page-template-eventbrite-index) .entry-media
{width:35%}

.widget-area
{max-width:calc(84% + 4em)}

.widget-area .widget,.widget-area.widgets-three .widget
{width:49.5%}

.footer-bottom-info.has-social-menu .site-info,.footer-bottom-info.has-social-menu .social-links
{float:none;
text-align:center}

.footer-bottom-info.has-social-menu .social-links
{padding-bottom:10px}

}

@media only screen and (min-width:961px)
{.is-singular .entry-media-thumb
{background-image:none !important;
display:none}

}

@media only screen and (max-width:960px)
{.site-header
{min-height:0 !important}

.site-header,.is-singular .site .site-header,.admin-bar .site-header,.admin-bar.is-singular .site-header
{display:block;
padding:2rem 2rem 0;
position:relative;
top:0;
width:100%}

.site-header,.is-scrolled .site-header,.blog .site-header,.home .site-header
{background-color:#292c2f}

.site-branding
{display:block;
float:none;
padding-bottom:2rem;
width:75%}

.is-singular:not(.home) .site-header>.site-branding
{display:block}

.site-branding .site-logo-link img
{max-width:250px}

*/

#site-navigation
{display:block;
float:none;
text-align:left;
width:100%}

.menu-toggle
{background-color:rgba(0,0,0,.1);
border:1px solid rgba(255,255,255,.2);
display:block;
font-family:"Lato","Helvetica Neue",Helvetica,sans-serif;
font-size:1.4rem;
font-weight:700;
letter-spacing:.1em;
padding:1em 1.5em;
position:absolute;
right:2rem;
text-transform:uppercase;
top:1rem}

.menu-toggle:before
{content:"\f419";
font-size:85%;
margin:0 6px 0 0;
position:relative;
top:1px}

.open .menu-toggle:before
{content:"\f406"}

#site-navigation>div
{display:none}

#site-navigation.open>div
{display:block}

#site-navigation ul li
{border-top:1px solid #363b40;
display:block;
margin:0;
padding:0}

#site-navigation ul a
{color:#8c97a2;
display:block;
padding:1em 0}

#site-navigation ul ul
{background:0 0;
line-height:1.6;
margin:0 0 0 2rem !important;
padding:0;
position:static;
width:auto}

#site-navigation ul ul:before
{display:none}

#site-navigation ul ul li
{border:0}

#site-navigation ul ul a
{color:#616a74;
padding:1rem 0}

#site-navigation ul li:hover>ul,#site-navigation ul li.focus>ul,#site-navigation ul ul li:hover>ul,#site-navigation ul ul li.focus>ul
{left:0;
margin:0}

#site-navigation ul ul ul
{padding-left:0}


.tags-links
{line-height:1.6}


h1
{font-size:4rem}

blockquote
{margin-left:1.5em}

.site-title
{font-size:2.2rem}

.site-branding .site-logo-link+.site-title
{margin-top:1rem}

.menu-toggle
{font-size:1.2rem}

